/// Enable Named Colours?
/// @group cf
$namedColours: false;

/// Enable Bootstrap Grid loaded via CDN
/// @group cf
$bsGrdid: true;

/// Enable Button Box Shadow
/// @group cf
$btnBoxShadow: true !default; 