// HEX to RGBA
// Example usage
//   $color: hex-to-rgba(#3498db, 0.7);

@function hex-to-rgba($color, $alpha: 1) {
  @if type-of($color) == "color" {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);

    @return rgba($red, $green, $blue, $alpha);
  } @else {
    @error "hex-to-rgba(): #{$color} is not a valid hex color.";
  }
}