*,
*::before,
*::after {
	box-sizing: border-box;
}


// root
:root {
	@if $font-size-root !=null {
		@include font-size(var(--#{$prefix}root-font-size));
	}
}

body {
  margin: 0; // 1
  font-family: var(--#{$prefix}-font-family-base);
  // @include font-size(var(--#{$prefix}body-font-size));
  font-weight: var(--#{$prefix}-body-font-weight);
  line-height: var(--#{$prefix}-body-line-height);
  // color: var(--#{$prefix}body-color);
  // text-align: var(--#{$prefix}body-text-align);
  // background-color: var(--#{$prefix}body-bg); // 2

}