.border-radius-example {
  gap: 15px;
  .box {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    flex-direction: row;
    margin: 0 15px;
    &-all {
      @include border-radius(10px, 20px, 20px, 20px);
    }
    &-top-left {
      @include border-radius(10px, null, null, null);
    }
    &-top-right {
      @include border-radius(null, 20px, null, null);
    }
    &-bottom-right {
      @include border-radius(null, null, 20px, null);
    }
    &-bottom-left {
      @include border-radius(null, null, null, 20px);
    }
  }
}

.fontSize{
  font-weight: normal;
  &-18px--l15{
    @include font-size(18px, 1.5);
  }
  &-18px--lDefault{
    @include font-size(18px);
  }
   &-18px--lNormal{
    @include font-size(18px, normal);
  } 
  &-1rem--l15{
    @include font-size(1rem, 1.5);
  }
}

// grid



