/// SCSS Prefix. Adjust this to change the prefix for all classes.
/// @group cv
/// @name Prefix
$prefix: 'mjh' !default;

/// Base White
/// @group cv
/// @name White
$white: #ffffff !default;

/// Base Black
/// @group cv
/// @name Black
$black: #000000 !default;

/// Shades of black
/// @group cv
/// @name Shades of black
$blacks: (
  100: #000000,
  200: #1a1a1a,
  300: #333333,
  400: #4d4d4d,
  500: #666666,
  600: #808080,
  700: #999999,
  800: #b3b3b3,
  900: #cccccc) !default;

/// Base Red
/// @group cv
/// @name Red
$red: #ff0000 !default;

/// Shades of red
/// @group cv
/// @name Shades of Red
$reds: (
  100: #ff0000,
  200: #ff1a1a,
  300: #ff3333,
  400: #ff4d4d,
  500: #ff6666,
  600: #ff8080,
  700: #ff9999,
  800: #ffb3b3,
  900: #ffcccc) !default;

/// Base Green
/// @group cv
/// @name Green
$green: #00ff00 !default;
$greens: (
  100: #00ff00,
  200: #1aff1a,
  300: #33ff33,
  400: #4dff4d,
  500: #66ff66,
  600: #80ff80,
  700: #99ff99,
  800: #b3ffb3,
  900: #ccffcc) !default;

// Base Blue
/// @group cv
/// @name Blue
$blue: #0000ff !default;

/// Shades of blue
/// @group cv
/// @name Shades of Blue
$blues: (
  100: #0000ff,
  200: #1a1aff,
  300: #3333ff,
  400: #4d4dff,
  500: #6666ff,
  600: #8080ff,
  700: #9999ff,
  800: #b3b3ff,
  900: #ccccff) !default;


/// Sans Serif Font Family
/// @group tv
/// @name Sans Serif Font Family
$font-family-sans-serif: 'Roboto',
  'Helvetica Neue',
  Arial,
  sans-serif !default;

/// Serif Font Family
/// @group tv
/// @name Serif Font Family
$font-family-serif: 'Georgia',
  'Times New Roman',
  Times,
  serif !default;


/// Base font size
/// @group tv
/// @name Base font size
$font-size-base: 1rem !default; // this can only have a REM unit, PX will cause an error
/// Base line height
/// @group tv
/// @name Base line height
$line-height-base: 1.5 !default; // this can only have a REM unit, PX will cause an error

/// Base font colour
/// @group tv
/// @name Base font colour
$base-colour: map-get($blacks, 200) !default; // default base color 

/// Heading sizes
/// @group tv
/// @name Heading SCSS Map
/// @example Usage
///   .h1{
///     font-size: map-get($heading, h1);
///    }
$heading: (
  h1: $font-size-base * 3,
  h2: $font-size-base * 2.5,
  h3: $font-size-base * 2,
  h4: $font-size-base * 1.5,
  h5: $font-size-base * 1.25,
  h6: $font-size-base * 1.125) !default;

//spacing
$space: 10px !default;
$spaces: (
  1: $space * 0.25,
  2: $space * 0.75,
  3: $space * 0.5,
  4: $space * 1,
  5: $space * 1.25,
  6: $space * 1.5,
  7: $space * 1.75,
  8: $space * 2) !default;


/// Media Breakpoints
/// @group cv
/// @name Media Breakpoints
$bps: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px) !default;

/// Max Container Widths
/// @group cv
/// @name Max Container Widths
$maContainerWidths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px) !default;

// widths as %
$w: (
  125: 12.5%,
  25: 25%,
  33: 33.3333%,
  50: 50%,
  625: 62.5%,
  66: 66.6667%,
  75: 75%,
  875: 87.5%,
  100: 100%) !default;

/// button variables
/// @group vr
/// @name Button variables
/// 
$btnPadding: 0.5rem 1rem !default; // default button padding
$btnPrimaryColour: map-get($blues, 200) !default; // default primary button color
$btnSecondaryColour: map-get($reds, 200) !default; // default secondary button color
$btnBorderWidth: 2px !default; // default button border width
$btnBoxShadow: true !default; // default button box shadow

/// SCSS Config Items
/// @group Config
/// @name Config Items
/// 
/// 
$config: (
  bsGrid: true, // use the Boostrap based grid system
  btnBoxShadow: false, // use the box shadow for buttons
  )