/// this is a flexbox helper class
/// @group hp
///
/// @author Mark Handy
/// 
.flex {
  display: flex;

  &-inline {
    display: inline-flex;
  }
}

/// this is a flex direction helper class
/// @group hp
///
/// @author Mark Handy
/// 
.flex{
  &-row{
    flex-direction: row;
  }
}

/// this is a justify helper class
/// @group hp
///
/// @author Mark Handy
/// 
.justify {
  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-center {
    justify-content: center;
  }

  &-between {
    justify-content: space-between;
  }

  &-around {
    justify-content: space-around;
  }
}

/// this is a align helper class
/// @group hp
///
/// @author Mark Handy
/// 
.align {
  &-start {
    align-items: flex-start;
  }

  &-end {
    align-items: flex-end;
  }

  &-center {
    align-items: center;
  }

  &-baseline {
    align-items: baseline;
  }

  &-stretch {
    align-items: stretch;
  }
}

/// this is a wrap helper clas
/// @group hp
///
/// @author Mark Handy
/// 
.wrap {
  &-wrap {
    flex-wrap: wrap;
  }

  &-nowrap {
    flex-wrap: nowrap;
  }

  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}