@include generate-grid-classes();
.container {
  display: flex;
  flex-wrap: wrap;
  gap: map-get($grid-config, gap) map-get($grid-config, gap);
  .row {
    display: flex;
    flex-flow: row wrap;

    gap: map-get($grid-config, gap) map-get($grid-config, gap);
  }
}
