

/// Margin classes
/// @group Utilities
.m {
	@each $space, $value in $spaces {
		&t-#{$space} {
			margin-top: $value;
		}

		&r-#{$space} {
			margin-right: $value;
		}

		&b-#{$space} {
			margin-bottom: $value;
		}

		&l-#{$space} {
			margin-left: $value;
		}
	}
}
/// Padding classes
/// @group Utilities
.p {
	@each $space, $value in $spaces {
		&t-#{$space} {
			margin-top: $value;
		}

		&r-#{$space} {
			margin-right: $value;
		}

		&b-#{$space} {
			margin-bottom: $value;
		}

		&l-#{$space} {
			margin-left: $value;
		}
	}
}


/// Width classes
/// @group Utilities
.w {
	@each $width, $value in $w {
		&-#{$width} {
			width: $value;
		}
	}
}